<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeuroCare+ - Sign Up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/styleSignUp.css' %}">
    
  <link rel="icon" type="image/x-icon" href="{% static '/users/images/finallogo.ico' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Sign Up for NeuroCare+</h1>
            <h3>Your Path to Better Health and Wellbeing</h3>
        </header>
        
        <section class="form-section">
            <h2>Create Your Account</h2>
            <form method="post">
                {% csrf_token %}
                
                <div class="form-fields">
                    <div class="form-field">
                        {{ form.non_field_errors | safe }}
                    </div>

                    <div class="form-field">
                        {{ form.username.errors | safe }}
                        <label for="username">Username</label>
                        {{ form.username }}
                    </div>

                    <div class="form-field">
                        {{ form.password1.errors | safe }}
                        <label for="id_password1">Password</label>
                        {{ form.password1 }}
                    </div>

                    <div class="form-field">
                        {{ form.password2.errors | safe }}
                        <label for="password2">Confirm Password</label>
                        {{ form.password2 }}
                    </div>
                </div>

                <!-- Age and Gender Fields -->
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="number" id="age" name="age" min="1" max="120" required placeholder="Enter your age">
                </div>
<br>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select id="gender" name="gender" required>
                        <option value="">Select Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </div>

                <button type="submit" class="btn-signup">Sign Up</button>
            </form>
        </section>

        <footer>
            <p class="form-footer">
                Already have an account? <a href="{% url 'login' %}">Login</a>
            </p>
        </footer>
    </div>
</body>
</html>
